.img--1 {
    background-image: url("../ressources/images/error_small.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
}

@media(min-width: 768px) {
    .img--1 {
        background-image: url("../ressources/images/error_large.jpg");
    }
}