.affiche {
    vertical-align: middle;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    max-height: 350px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.table-element {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.table-element:hover {
    background-color: dimgrey;
    text-decoration: none;
}