@using AnimeSearch.Views.Account
@using AnimeSearch.Database

@{
    ViewData["Title"] = "Historique Personnel";
    ViewData["ActivePage"] = ManageNavPages.PersonnalHistorique;

    var user = ViewData["currentUser"] is Users u ? u : null;
}

<h4>@ViewData["Title"]</h4>
@if (ViewData["StatusMessage"] is not null)
{
    <partial name="_StatusMessage" model='ViewData["StatusMessage"]' />
}
<div class="row">
    <div class="col-md">
        <component 
                   type="typeof(TableRecherches)" 
                   render-mode="ServerPrerendered" 
                   param-UserId="user.Id"/>
    </div>
</div>

<conf id="liveConf" style="right: 0; width: 200px; height: 200px; bottom: 0;">
    <script src="~/lib/live/autoload.js"></script>
</conf>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}