@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!-- Modal message -->
<div class="modal fade" id="dialogMessage" tabindex="-1" role="dialog" aria-labelledby="ajout" aria-hidden="true">
    <div class="modal-dialog" role="document" id="modalMessage">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageTitle">@Localizer["error"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="messageBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">@Localizer["ok"]</button>
            </div>
        </div>
    </div>
</div>